@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;514&display=swap");
* {
  color: white;
}

.header {
  font-size: 12px;
  font-weight: bold;
}
.header #navItem:hover {
  color: #b9b9b9;
}

.container00 {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.arrowDown {
  display: inline-block;
  width: 90px;
  margin-top: 5px;
}

.logoPC {
  width: 240px;
  margin-left: -10px;
  margin-right: 40px;
}

#button {
  padding: 15px 35px;
  border: 2px solid white;
}

.footer {
  background-color: black;
  height: 15vh;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer a:hover {
  color: #b9b9b9;
}
.footer .copyOBC {
  color: #555252;
}

@media (max-width: 449px) {
  .downloadDesc button {
    margin: 10px 0px;
  }
}
@media (max-width: 405px) {
  .logoPC {
    width: 180px;
    margin-top: 15px;
  }
  .footer {
    font-size: 10px;
  }
}
@media (max-width: 350px) {
  .logoPC {
    width: 150px;
    margin-top: 15px;
  }
}
.container00.container01 {
  background-image: url(../../images/home/01.jpg);
}
.container00.container02 {
  background-image: url(../../images/home/03.jpg);
}
.container00.container03 {
  background-image: url(../../images/home/02.gif);
}
.container00.container04 {
  background-image: url(../../images/home/04.jpg);
}

.titlePadding {
  padding-top: 200px;
}

.shortTitle {
  width: 550px;
  margin-bottom: 25px;
}

.mediumTitle {
  width: 650px;
  margin-bottom: 25px;
}

@media (max-width: 750px) {
  .titlePadding {
    padding-top: 120px;
  }
  .shortTitle,
  .mediumTitle {
    width: auto;
    font-size: 50px;
  }
}
@media (max-width: 380px) {
  .shortTitle,
  .mediumTitle {
    width: auto;
    font-size: 40px;
  }
}
.container00.container05 {
  background-image: url(../../images/falcon9/01.jpg);
}
.container00.container06 {
  background-image: url(../../images/falcon9/02.jpg);
}
.container00.carrossel01 {
  background-image: url(../../images/falcon9/03.jpg);
}
.container00.carrossel02 {
  background-image: url(../../images/falcon9/04.jpg);
}
.container00.carrossel03 {
  background-image: url(../../images/falcon9/05.jpg);
}
.container00.carrossel04 {
  background-image: url(../../images/falcon9/06.jpg);
}
.container00.carrossel05 {
  background-image: url(../../images/falcon9/07.jpg);
}
.container00.container07 {
  background-image: url(../../images/falcon9/08.jpg);
}

.titleFalcon9 {
  font-size: 90px;
  font-family: "Rubik", sans-serif;
  font-weight: 514;
}

.titleContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}

.numbers {
  background-color: black;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.numbers .titleNumb {
  font-size: 90px;
}
.numbers .subTitleNumb {
  font-size: 20px;
}

.falcon9Desc {
  font-size: 22px;
  width: 640px;
  line-height: 50px;
}

.containerFalcon9Desc {
  display: grid;
  height: 90vh;
  align-items: center;
  justify-content: left;
}

#overViewPosition {
  width: 500px;
  margin-left: 13%;
  padding-top: 15%;
}

.table {
  width: 500px;
}

.carouselSlide img {
  height: 100vh;
}

.carousselText {
  background-color: black;
}

.downloadDesc {
  background-color: black;
  height: 85vh;
  padding-top: 240px;
}
.downloadDesc a {
  text-decoration: none;
  color: white;
  border-bottom: 1px solid white;
}
.downloadDesc a:hover {
  border-bottom: 1px solid #b9b9b9;
  color: #b9b9b9;
}
.downloadDesc button {
  border: 2px solid white;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .numbers .titleNumb {
    font-size: 80px;
  }
  .numbers .subTitleNumb {
    font-size: 18px;
  }
  .falcon9Desc {
    width: auto;
  }
  #overViewPosition {
    padding-top: 35%;
  }
}
@media (max-width: 575px) {
  .numbers {
    height: 60vh;
  }
  #overViewPosition {
    width: auto;
    margin-left: auto;
  }
}
@media (max-width: 375px) {
  .titleFalcon9 {
    font-size: 50px;
  }
  .falcon9Desc {
    font-size: 18px;
    line-height: auto;
  }
  .subTitleFalcon {
    font-size: 16px;
  }
}
.container00.container08 {
  background-image: url(../../images/humanSpace/01.jpg);
}
.container00.container09 {
  background-image: url(../../images/humanSpace/02.jpg);
}
.container00.container10 {
  background-image: url(../../images/humanSpace/03.jpg);
}
.container00.container11 {
  background-image: url(../../images/humanSpace/04.jpg);
}
.container00.container12 {
  background-image: url(../../images/humanSpace/05.jpg);
}

.titleHumanSpace {
  font-size: 120px;
  font-family: "Rubik", sans-serif;
  font-weight: 514;
}

.subTitleHumanSpace {
  font-size: 30px;
  font-family: "Rubik", sans-serif;
  font-weight: 514;
}

.DivulgDesc {
  background-color: black;
  height: 40vh;
  font-size: 20px;
}
.DivulgDesc a {
  text-decoration: none;
  color: white;
  border-bottom: 1px solid white;
}
.DivulgDesc a:hover {
  border-bottom: 1px solid #b9b9b9;
  color: #b9b9b9;
}

.infoContRight {
  padding-top: 190px;
  display: grid;
  align-items: center;
  justify-content: right;
}

.infoContLeft {
  padding-top: 200px;
}

.Titlecont {
  font-size: 60px;
  font-weight: 700;
}

.Titlesm {
  font-size: 16px;
  font-weight: 300;
}

/*# sourceMappingURL=style.css.map */
